# Core Libraries
numpy
pandas
matplotlib
seaborn
regex

# Text Processing
nltk
clean-text
wordcloud

# Scikit-learn
scikit-learn

# Boosting Algorithms
xgboost
lightgbm
catboost

# TensorFlow and Transformers
tensorflow
transformers

# Model Saving and Utilities
joblib
wget
